{% extends "customer/customer_base.html" %}
{%load crispy_forms_tags %}
{% block content %}

<div class="card text-center mb-3">
  <div class="card-body card card-light-blue">
<div class="table-responsive">
  <table class="table align-middle table table-bordered">

  <thead>

    <tr>

      <th scope="col">USER</th>
      <th scope="col">DATE</th>
      <th scope="col">MESSAGE</th>
      <th scope="col">REPLY</th>


    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <td scope="row">{{i.user}}</td>
      <td scope="row">{{i.date}}</td>
      <td scope="row">{{i.message}}</td>
      <td scope="row">{{i.reply}}</td>
    </tr>
  </tbody>
      {% endfor %}

 </table>
{% endblock %}
</div>
  </div>
</div>