{% extends "customer/customerbase.html" %}
{%load crispy_forms_tags %}
{% block content %}

 <div class=" text-center rounded p-4">
<div class="card text-center mb-3  ">
  <div class="card-body card card-light-blue ">
<div class="table-responsive">
  <table class="table align-middle table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">User</th>
                              <th scope="col">Date</th>
                              <th scope="col">Description</th>
                              <th scope="col">Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in data %}
                            <tr>
                              <td scope="row">{{i.worker}}</td>
                              <td scope="row">{{i.date}}</td>
                              <td scope="row">{{i.description}}</td>
                              <td scope="row">{{i.amount}}</td>
                              <td scope="row">
            {% if i.status == 0 %}
            <a class="btn btn-primary" href="{% url 'onlinepayment' i.id %}" role="button">pay now</a>
            {% else %}
            <a class="btn btn-primary"  href="{% url 'approve_payment' i.id %}" role="button">Paid</a>
            {% endif %}</td>


                            </tr>
                            {% endfor %}
                          </tbody>
      </table>
  </div>
</div>
</div>
 </div>
{%endblock%}