 {% extends "Admintemp/index.html" %}
{%load crispy_forms_tags %}
{% block content %}

 <div class=" text-center rounded p-4">
<div class="card text-center mb-3  ">
  <div class="card-body card card-light-blue ">
<div class="table-responsive">
  <table class="table align-middle table table-bordered">
                          <thead>
                            <tr>
                                <th scope="col">name</th>
                              <th scope="col">Start time</th>
                              <th scope="col">End time</th>
                               <th scope="col">Work done or not</th>
                               <th scope="col">Generate bill</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in data %}
                            <tr>
                              <td scope="row">{{i.worker}}</td>
                              <td scope="row">{{i.schedule.start_time}}</td>
                              <td scope="row">{{i.schedule.end_time}}</td>
                              <td>
            {% if i.done == 0 %}
                 <button type="button" class="btn btn-warning">pending</button>
            {% elif i.done == 1 %}
                 <button type="button" class="btn btn-success">Work Done</button>
            {% else %}
                  <button type="button" class="btn btn-danger">Not Done</button>
            {% endif %}
        </td>
              <td scope="row">
            {% if i.status == 0 %}
            <a class="btn btn-primary" href="{% url 'Generate_bill' i.id %}" role="button">Generate bill</a>
            {% else %}
            <a class="btn btn-primary"  role="button">Paid </a>
            {% endif %}</td>









<!--                              <td><a href="{% url 'Generate_bill' i.id %}">-->
<!--                      <button type="button" class="btn btn-primary">Bill</button>-->
<!--        </a></td>-->

                            </tr>
                            {% endfor %}
                          </tbody>
      </table>
  </div>
</div>
</div>
 </div>
{%endblock%}