{% extends "Admintemp/index.html" %}
{%load crispy_forms_tags %}
{% block content %}

 <div class=" text-center rounded p-4">
<div class="card text-center mb-3  ">
  <div class="card-body card card-light-blue ">
<div class="table-responsive">
  <table class="table align-middle table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Description</th>
                              <th scope="col">Amount</th>
<!--                              <th scope="col">Update</th>-->
                              <th scope="col">Bill</th>

                            </tr>
                          </thead>
                          <tbody>
                            {% for i in data %}
                            <tr>
                              <th scope="row">{{i.description}}</th>
                              <th scope="row">{{i.amount}}</th>

                                    <td scope="row">
            <a class="btn btn-primary"  href="{% url 'Generate_bill' i.id %}" role="button">Generate Bill</a>
        </td>
                            </tr>
                            {% endfor %}
                          </tbody>
      </table>
  </div>
</div>
</div>
 </div>
{%endblock%}