{% extends "Admintemp/index.html" %}
{%load crispy_forms_tags %}
{% block content %}

 <div class=" text-center rounded p-4">
<div class="card text-center mb-3  ">
  <div class="card-body card card-light-blue ">
<div class="table-responsive">
  <table class="table align-middle table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Date</th>
                              <th scope="col">Start time</th>
                              <th scope="col">End time</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in data %}
                            <tr>
                              <th scope="row">{{i.date}}</th>
                              <th scope="row">{{i.start_time}}</th>
                              <th scope="row">{{i.end_time}}</th>
                            </tr>
                            {% endfor %}
                          </tbody>
      </table>
  </div>
</div>
</div>
 </div>
{%endblock%}