{% extends "Admintemp/index.html" %}
{%block content%}
 <div class="bg-secondary text-center rounded p-4">
<div class="card text-center mb-3  ">
  <div class="card-body card card-light-blue ">
      <form method="get" class="form-inline">
          <div class="md-form my-0">
              {{worker_filter.form|crispy}}

              <button class="btn btn-primary" type="submit">Search</button>
          </div>
      </form>
<!--       <form action="{% url 'search_product' %}" method="POST" style="float:right" class="form:inline">-->
<!--    {% csrf_token %}-->
<!--    <input type="text" name="name">-->
<!--           <button class="btn btn-primary" type="submit" name="submit" >Search</button>-->
<!--</form>-->
<div class="table-responsive">

  <table class="table align-middle table table-bordered">

  <thead>

    <tr>

      <th scope="col">name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">phone</th>
      <th scope="col">category</th>
      <th scope="col">profile</th>
      <th scope="col">Action</th>

         <th>
          Update
      </th>
        <th>Delete
        </th>

    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <td scope="row">{{i.name}}</td>
      <td scope="row">{{i.email}}</td>
      <td scope="row">{{i.address}}</td>
      <td scope="row">{{i.phone}}</td>
      <td scope="row">{{i.category}}</td>
      <td scope="row">
          {% if i.profilepicture %}
    <img src="{{i.profilepicture.url}}" alt="Smiley face" width="200" height="150"></td>
{% endif %}
  <td scope="row">
            {% if i.status == 0 %}
            <a class="btn btn-primary" href="{% url 'accept_worker' i.id %}" role="button">Accept Worker</a>
            <a class="btn btn-primary" href="{% url 'reject_worker' i.id %}" role="button">Reject Worker</a>
            {%elif i.status == 1 %}
            <a class="btn btn-primary" href="{% url 'accept_worker' i.id %}" role="button">Accepted</a>
            {% else %}
            <a class="btn btn-primary" href="{% url 'reject_worker' i.id %}" role="button">Rejected</a>
            {% endif %}
        </td>

        <td><a href="{% url 'worker_update' i.id %}">
                        <button type="button" class="btn btn-primary">Update</button>
        </a></td>
<td>
 <form action="{% url 'worker_delete' i.id %}"method="POST" class="d-inline-block">
    {%csrf_token %}
    <input type="submit" class="btn btn-danger" value="Delete"/>
   </form>
     </td>
    </tr>

  </tbody>
      {% endfor %}
 </table>
{% endblock %}
</div>

  </div>
</div>
 </div>